#main-carousel img {
  height: 600px;
  object-fit: cover;
}
.notie-container {
  z-index: 1030;
}
.datepicker {
  z-index: 1070;
}
.generals-quarters img,
.majors-suite img {
  height: 600px;
  object-fit: cover;
}

.content {
  min-height: calc(100vh - 482px);
}
.my-footer {
  padding: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  color: #777;
}

.my-footer .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-unstyled a {
  text-decoration: none !important;
}
.copyright {
  border-top: 1px solid #595959;
}

.footer-site-logo {
  font-size: 2rem;
  text-decoration: none !important;
}
