{{ template "base" .}}
{{ define "content" }}
<div class="generals-quarters">
  <div class="row">
    <div class="col">
      <img
        src="static/images/generals-quarters.webp"
        class="d-block w-100 img-fluid"
        alt="Drinking Coffee"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="search-availability" href="#!" class="btn btn-success"
        >Search Availability</a
      >
    </div>
  </div>
</div>
{{ end }}
{{ define "js" }}
<script>
  const htmlInput = `
            <form method="POST" id="reservation-dates">
                <div class="row">
                  <div class="col">
                    <div class="mb-3">
                      <input
                        required
                        class="form-control"
                        name="start"
                        aria-describedby="dateHelp"
                        placeholder="Arrival date"
                      />
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <input
                        required
                        class="form-control"
                        name="end"
                        aria-describedby="dateHelp"
                        placeholder="Departure date"
                      />
                    </div>
                  </div>
                </div>
              </form>
            `
  async function callback(value) {
    const start = document.querySelector('input[name=start]')
    const end = document.querySelector('input[name=end]')
    // programmatically add csrf token
    const form = document.getElementById('reservation-dates')
    const formData = new FormData(form)
    formData.append('csrf_token', '{{ .CSRFToken }}')
    fetch('/search-availability', {
      method: 'POST',
      body: formData
    })
      .then(res => {
        res.text()
      })
      .then(data => console.log(data))
    console.log(start.value)
    console.log(end.value)
    console.log('value: ', value)
  }
  document
    .getElementById('search-availability')
    .addEventListener('click', () => {
      customAlertHtml({ title: 'Pick a date range', htmlInput, cb: callback })
    })
</script>
{{ end }}
