{{ template "base" .}}

{{ define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
        <div class="row" id="reservation-dates">
          <div class="col">
            <div class="mb-3">
              <input
                required
                class="form-control"
                name="start"
                aria-describedby="dateHelp"
                placeholder="Arrival date"
              />
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <input
                required
                class="form-control"
                name="end"
                aria-describedby="dateHelp"
                placeholder="Departure date"
              />
            </div>
          </div>
        </div>
        <hr />
        <button type="submit" class="btn btn-primary">
          Search Availability
        </button>
      </form>
    </div>
  </div>
</div>
{{ end }}

{{ define "js" }}
{{ end }}
